.navigation-search-dropdown-initial {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    display: inline-flex;
}

/* --- Search Bar --- */
.navigation-search-dropdown-initial .search-bar {
    background-color: var(--color-neutral-50);
    border-bottom: var(--shape-border-width-1) solid var(--color-warm-gray-100);
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding: var(--spacing-small) var(--spacing-xxlarge);
    /* 10px 96px */
}

/* --- Sub Nav --- */
.navigation-search-dropdown-initial .sub-nav {
    justify-content: space-between;
    align-self: stretch;
    align-items: center;
    display: flex;
    width: 100%;
    max-width: 78rem;
    /* 1248px */
    box-sizing: border-box;
    gap: var(--spacing-small);
    /* 16px */
}

/* --- Dropdown --- */
.navigation-search-dropdown-initial .dropdown {
    background-color: var(--color-neutral-50);
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    padding: var(--spacing-large) var(--spacing-xxlarge);
    /* 64px 96px */
    display: flex;
    box-sizing: border-box;
    justify-content: center;
}

/* --- Content --- */
.navigation-search-dropdown-initial .content {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
    max-width: var(--page-max-width);
    /* 1248px */
    width: 100%;
}

/* --- Suggestions --- */
.navigation-search-dropdown-initial .suggestions {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-small);
    /* 16px */
    display: flex;
}

.dropdown .d-none {
    display: none;
}

/* --- Top Products --- */
.navigation-search-dropdown-initial .top-products {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
}

/* --- Popular Searches Title --- */
.navigation-search-dropdown-initial .popular-searches {
    color: var(--color-primitive-600);
    letter-spacing: 0;
    font-size: var(--heading-m-font-size);
    /* 24px */
    font-weight: var(--weight-regular);
    line-height: var(--heading-m-line-height);
    /* 26px */
    margin: 0;
}

/* --- List --- */
.navigation-search-dropdown-initial .list {
    flex-direction: column;
    align-self: stretch;
    align-items: flex-start;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 15rem;
}

/* --- Trending Products Title --- */
.navigation-search-dropdown-initial .trending-products {
    color: var(--color-primitive-600);
    letter-spacing: 0;
    width: 18rem;
    /* 288px */
    font-size: var(--spacing-medium);
    /* 24px */
    font-weight: var(--weight-regular);
    line-height: 1.625rem;
    /* 26px */
    margin: 0;
    padding-bottom: var(--spacing-small);
}

/* --- Cards --- */
.navigation-search-dropdown-initial .cards {
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    gap: var(--spacing-small);
    /* 16px */
    width: 59.5rem;
    /* 952px */
    display: flex;
    cursor: pointer;
    opacity: 1;
}

/* --- Trending Product Card --- */
.navigation-search-dropdown-initial .trending-product-card {
    flex-direction: column;
    flex-shrink: 0;
    justify-content: flex-end;
    align-items: flex-start;
    gap: var(--spacing-xsmall-12);
    /* 12px */
    width: 14.125rem;
    /* 226px */
    display: flex;
}

/* --- Image Holder --- */
.navigation-search-dropdown-initial .image-holder {
    width: 14.125rem;
    /* 226px */
    height: 14.125rem;
    /* 226px */
    position: relative;
}

/* --- Image Placeholder --- */
.navigation-search-dropdown-initial .image-placeholder {
    background-color: var(--color-warm-gray-50);
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 14.125rem;
    /* 226px */
    height: 14.125rem;
    /* 226px */
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}

/* --- Flags --- */
.navigation-search-dropdown-initial .flags {
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    gap: var(--spacing-xsmall);
    /* 8px */
    width: 14.125rem;
    /* 226px */
    height: var(--spacing-big-36);
    /* 36px */
    padding: var(--spacing-xsmall);
    /* 8px */
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}

/* --- Product Status Flags --- */
.navigation-search-dropdown-initial .product-status-flags {
    background-color: var(--color-warm-gray-400);
    border-radius: 0.125rem;
    /* 2px */
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-xsmall);
    /* 8px */
    width: var(--spacing-large);
    /* 64px */
    height: var(--spacing-small-20);
    /* 20px */
    display: flex;
    box-sizing: border-box;
    text-transform: uppercase;
}

.navigation-search-dropdown-initial .flag {
    color: var(--color-neutral-50);
    text-align: center;
    letter-spacing: 0;
    font-size: var(--label-2xs-font-size);
    /* 10px */
    font-weight: var(--weight-regular);
    line-height: var(--label-2xs-font-size);
    /* 10px */

}

.navigation-search-dropdown-initial .card-content {
    flex-direction: column;
    align-self: stretch;
    align-items: flex-start;
    gap: var(--spacing-xsmall);
    /* 8px */
    display: flex;
}

.navigation-search-dropdown-initial .card-price-box {
    flex-wrap: wrap;
    align-content: flex-end;
    align-self: stretch;
    align-items: flex-end;
    display: flex;
}

/* --- Product Name Wrapper --- */
.navigation-search-dropdown-initial .product-name-wrapper {
    flex-direction: column;
    flex: 1 0 0;
    align-items: flex-start;
    gap: var(--spacing-xxsmall);
    /* 4px */
    display: flex;
}

.navigation-search-dropdown-initial .product-name {
    color: var(--color-primitive-600);
    letter-spacing: 0;
    align-self: stretch;
    font-size: var(--title-s-font-size);
    /* 18px */
    font-weight: var(--weight-regular);
    margin: 0;
    padding: 0;
}

.navigation-search-dropdown-initial .skeleton-button {
    height: var(--spacing-big);
    width: 12rem;
    background: var(--color-neutral-100);
    border-radius: 4px;
    animation: pulse 1.5s infinite;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

@keyframes pulse {
    0% {
        background-color: var(--color-neutral-100);
    }

    50% {
        background-color: var(--color-neutral-500);
    }

    100% {
        background-color: var(--color-neutral-100);
    }
}

.product-price-wrapper,
.product-badge,
.product-discount,
.product-stock-status,
.product-shipping-info,
.product-review-info,
.product-meta-wrapper {
    color: var(--color-neutral-50);
    text-align: center;
    letter-spacing: 0;
    font-size: var(--label-2xs-font-size);
    /* 10px */
    font-weight: var(--weight-regular);
    line-height: var(--label-2xs-font-size);
    /* 10px */
}

.navigation-search-dropdown-initial .product-details-wrapper,
.navigation-search-dropdown-initial .product-description-wrapper,
.navigation-search-dropdown-initial .product-meta-wrapper {
    flex-direction: column;
    flex: 1 0 0;
    align-items: flex-start;
    gap: var(--spacing-xxsmall);
    /* 4px */
    display: flex;
}

.navigation-search-dropdown-initial .view-all-products {
    margin-top: var(--spacing-big);
    /* 32px */
}

/* --- Search Input --- */
.navigation-search-dropdown-initial .input-field-with-border {
    flex-direction: column;
    flex: 1 0 0;
    align-items: flex-start;
    gap: var(--spacing-xsmall);
    /* 8px */
    max-width: 31.3125rem;
    /* 501px */
    display: flex;
}

.navigation-search-dropdown-initial .input-field-block {
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    align-items: flex-start;
    gap: var(--spacing-xsmall);
    /* 8px */
    height: var(--spacing-xxbig);
    /* 48px */
    display: flex;
}

.navigation-search-dropdown-initial .input-field {
    background-color: var(--color-neutral-50);
    border: var(--shape-border-width-1) solid var(--color-primitive-600);
    border-radius: var(--spacing-xsmall);
    /* 8px */
    flex-shrink: 0;
    align-self: stretch;
    align-items: center;
    gap: var(--spacing-small);
    /* 16px */
    height: var(--spacing-xxbig);
    /* 48px */
    padding: 0 var(--spacing-small);
    /* 0 16px */
    display: flex;
}

.navigation-search-dropdown-initial .placeholder {
    flex: 1 0 0;
    align-items: center;
    gap: var(--spacing-xsmall);
    /* 8px */
    display: flex;
    position: relative;
}

.navigation-search-dropdown-initial .icon-24-search {
    width: var(--spacing-small-18);
    /* 18px */
    height: var(--spacing-small-18);
    /* 18px */
    background: url('/icons/searchHeader.svg') no-repeat center;
    background-size: var(--spacing-small-18) var(--spacing-small-18);
}

.navigation-search-dropdown-initial .search-icon {
    width: var(--spacing-medium);
    /* 24px */
    height: var(--spacing-medium);
    /* 24px */
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 var(--spacing-medium);
}

.navigation-search-dropdown-initial .icon-arrow-right {
    width: var(--spacing-medium);
    /* 24px */
    height: var(--spacing-medium);
    /* 24px */
    background-image: url('/icons/arrow-right.svg');
    background-repeat: no-repeat;
    background-position: right center;
}

.navigation-search-dropdown-initial .input-field form {
    width: 100%;
}

.navigation-search-dropdown-initial .search-input {
    color: var(--color-primitive-600);
    font-size: var(--title-xs-font-size);
    /* 16px */
    line-height: var(--title-xs-font-size);
    font-weight: var(--weight-regular);
    width: 100%;
    border: none;
    height: var(--spacing-medium);
    /* 24px */
    background: var(--color-neutral-50);
}

.navigation-search-dropdown-initial .search-input::placeholder {
    color: var(--color-neutral-cool-600);
    opacity: 1;
}

/* stylelint-disable property-no-vendor-prefix */
.navigation-search-dropdown-initial .search-input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}

.navigation-search-dropdown-initial .clear-btn {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    font-size: 1.2rem;
    cursor: pointer;
}

.navigation-search-dropdown-initial .clear-btn-hidden {
    display: none;
}

/* --- Close Button --- */
.navigation-search-dropdown-initial .close {
    justify-content: center;
    align-items: center;
    width: var(--spacing-big);
    /* 32px */
    height: var(--spacing-big);
    /* 32px */
    display: flex;
    background: none;
    border: none;
    cursor: pointer;
}

.icon-16-close {
    flex-shrink: 0;
    width: var(--spacing-small);
    /* 32px */
    height: var(--spacing-small);
    /* 32px */
    position: relative;
    background: url('/icons/X-Close-header.svg') no-repeat center;
}

.navigation-search-dropdown-initial .icon-24-close {
    flex-shrink: 0;
    width: var(--spacing-big);
    /* 32px */
    height: var(--spacing-big);
    /* 32px */
    position: relative;
    background: url('/icons/X-Close-header.svg') no-repeat center;
}

/* --- Button --- */

.navigation-search-dropdown-initial .secondary-subhead-button-medium {
    border-radius: var(--spacing-xxsmall);
    /* 4px */
    gap: var(--spacing-xsmall);
    /* 8px */
    min-width: 8.75rem;
    /* 140px */
    min-height: var(--spacing-xbig);
    /* 40px */
    padding: var(--spacing-xsmall-12) var(--spacing-small);
    /* 12px 16px */
    display: flex;
    background: none;
    border: none;
    cursor: pointer;
    justify-content: flex-start;
}

.navigation-search-dropdown-initial .button {
    color: var(--color-primitive-300);
    text-align: center;
    text-transform: capitalize;
    font-size: var(--title-xs-font-size);
    /* 16px */
    font-weight: var(--weight-regular);
}

.navigation-search-dropdown-initial .secondary-subhead-button-medium .button {
    text-align: start;
}

@media (max-width: 1248px) {
    .navigation-search-dropdown-initial .search-panel-component-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .navigation-search-dropdown-initial .flags {
        width: 100%;
    }

    .navigation-search-dropdown-initial .navigation-search-dropdown-initial {
        max-width: 64rem;
        /* 1024px */
        overflow: auto;
    }

    .navigation-search-dropdown-initial .search-bar {
        padding: 0.625rem var(--spacing-xxbig);
        /* 10px 48px */
    }

    .navigation-search-dropdown-initial .dropdown {
        padding: var(--spacing-big) var(--spacing-xxbig);
        /* 32px 48px */
    }

    .navigation-search-dropdown-initial .content {
        flex-direction: column;
        gap: var(--spacing-big);
        /* 32px */
    }

    .navigation-search-dropdown-initial .top-products {
        width: 100%;
    }

    .navigation-search-dropdown-initial .trending-products {
        width: 100%;
    }

    .navigation-search-dropdown-initial .cards {
        width: 100%;
        gap: var(--spacing-xsmall-12);
        /* 12px */
    }

    .navigation-search-dropdown-initial .trending-product-card {
        width: calc(50% - 0.375rem);
        /* 50% - 6px */
    }

    .navigation-search-dropdown-initial .image-holder {
        aspect-ratio: 1;
        width: 100%;
        height: auto;
    }

    .navigation-search-dropdown-initial .image-placeholder {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 744px) {
    .navigation-search-dropdown-initial .search-bar {
        padding: var(--spacing-small);
        /* 16px */
    }

    .navigation-search-dropdown-initial .dropdown {
        padding: var(--spacing-small);
        /* 16px */
    }

    .navigation-search-dropdown-initial .trending-products {
        padding-top: var(--spacing-xsmall);
        /* 8px */
        padding-bottom: var(--spacing-small);
    }

    .navigation-search-dropdown-initial .top-products {
        padding-bottom: var(--spacing-small);
        /* 16px */
    }

    .navigation-search-dropdown-initial .content {
        flex-direction: column;
        gap: var(--spacing-medium);
        /* 24px */
    }

    .navigation-search-dropdown-initial .suggestions {
        width: 100%;
    }
}